
.innerflip{
    text-decoration: none;
    color: black;
    font-size: 13px;

}
.innerflip li{
    list-style-type: none;
    display: none;
}

.flipitem a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 650;   
} 
.flipitem a :hover > .innerflip
{
    display: block;
}

.flip1{
    margin:30px;
    text-align: center;
}